# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.sock

# Dependency directories
.yarn/
bower_components/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pdb

# Build output
dist/
build/
out/
public/

# Environment variables
.env